{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Liste des Départements</h1>
    
    {% if departments %}
        <table class="table table-bordered table-striped mt-4">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom du Département</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                <tr>
                    <td>{{ department.name }}</td>
                    <td>{{ department.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning mt-4">
            Aucun département trouvé.
        </div>
    {% endif %}
</div>
{% endblock %}
