{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center font-weight-bold text-dark">Historique des Demandes de Congé</h1>
    
    {% if requests %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type de Congé</th>
                    <th>Date de Début</th>
                    <th>Date de Fin</th>
                    <th>Statut</th>
                    <th>Date de Création</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                    <tr>
                        <td>{{ request.type_conge }}</td>
                        <td>{{ request.date_debut }}</td> <!-- Date de début du congé -->
                        <td>{{ request.date_fin }}</td> <!-- Date de fin du congé -->
                        <td>{{ request.statut }}</td> <!-- Statut (validé, rejeté, etc.) -->
                        <td>{{ request.date_creation }}</td> <!-- Date de création de la demande -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center">Vous n'avez pas d'historique de demandes de congé validées ou rejetées.</p>
    {% endif %}
</div>
{% endblock %}
